<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <appSettings>
    <add key="serilog:using" value="Serilog.Sinks.Literate" />
    <add key="serilog:minimum-level" value="Debug" />
    <add key="serilog:write-to:LiterateConsole" />
    <add key="serilog:write-to:LiterateConsole.outputTemplate" value="{Timestamp:HH:mm} [{Level}] [{ThreadId}] {Message}{NewLine}{Exception}" />
    <add key="serilog:write-to:RollingFile.pathFormat" value=".\logs\geocollect-{Date}.txt" />
    <add key="serilog:write-to:RollingFile.retainedFileCountLimit" value="10" />
    <add key="serilog:write-to:RollingFile.outputTemplate" value="{Timestamp} [{Level}] ({ThreadId}) {SourceContext}{NewLine}{Tab} {Message}{NewLine}{Exception}" />
  </appSettings>
</configuration>
