[submodule "lib/RaptorDB-Document"]
	path = lib/RaptorDB-Document
	url = https://github.com/bradserbu/RaptorDB-Document.git
	
[submodule "lib/Handlebars.Net"]
	path = lib/Handlebars.Net
	url = https://github.com/bradserbu/Handlebars.Net
[submodule "lib/Lightning.NET"]
	path = lib/Lightning.NET
	url = https://github.com/bradserbu/Lightning.NET.git
