<div class="sidebar-menu">
    <div class="sidebar-menu-inner">

        <header class="logo-env">
            <!-- logo -->
            <div class="logo">
                <a href="index.html">
                    <img src="assets/images/solum-logo-arial.png" width="120" alt="" />
                </a>
            </div>
            <!-- logo collapse icon -->
            <div class="sidebar-collapse">
                <a href="#" class="sidebar-collapse-icon with-animation">
                    <!-- add class "with-animation" if you want sidebar to have animation during expanding/collapsing transition -->
                    <i class="entypo-menu with-animation"></i>
                </a>
            </div>

            <!-- open/close menu icon (do not remove if you want to enable menu on mobile devices) -->
            <div class="sidebar-mobile-menu visible-xs">
                <a href="#" class="with-animation">
                    <!-- add class "with-animation" to support animation -->
                    <i class="entypo-menu with-animation"></i>
                </a>
            </div>
        </header>

        <ul id="main-menu" class="main-menu">
            <!-- add class "multiple-expanded" to allow multiple submenus to open -->
            <!-- class "auto-inherit-active-class" will automatically add "active" class for parent elements who are marked already with class "active" -->
            <li class="active opened active">
                <a href="index">
                    <i class="entypo-gauge"></i>
                    <span class="title">Dashboard</span>
                </a>
                <ul>
                    <li class="active">
                        <a href="index">
                            <span class="title">Overview</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="databases">
                    <i class="entypo-database"></i>
                    <span class="title">Storage</span>
                </a>
                <ul>
                    <li>
                        <a href="databases">
                            <span class="title">Databases</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="layout-api.html">
                    <i class="entypo-cog"></i>
                    <span class="title">Services</span>
                </a>
                <ul>
                    <li>
                        <a href="layout-api.html">
                            <span class="title">Web Server</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="layout-api.html">
                    <i class="entypo-switch"></i>
                    <span class="title">API</span>
                </a>
                <ul>
                    <li>
                        <a href="layout-api.html">
                            <span class="title">Endpoints</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>